beautifulsoup4==4.9.1
bs4==0.0.1
certifi==2020.4.5.2
chardet==3.0.4
idna==2.9
pyTelegramBotAPI==3.7.1
redis==3.5.3
requests==2.23.0
six==1.15.0
soupsieve==2.0.1
Flask==1.0.2
Flask-Compress==1.4.0
Flask-Cors==3.0.2
Flask-Login==0.4.0
Flask-RESTful==0.3.6
flask-restx==0.2.0
gunicorn==20.0.4